.footer {
    background: var(--color-blue-light);
    text-align: center;
    padding: 1rem;
    color: var(--color-yellow);
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    color: var(--color-yellow);
}

.footer__social-link {
    text-decoration: none;
    color: var(--color-black);
    font-weight: bold;
    transition: color 0.3s ease;
    color: var(--color-yellow);
}

.footer__social-link:hover {
    color: var(--color-pink);
}

.footer__copy {
    font-size: 0.8rem;
    color: var(--color-yellow);
}

.footer__social-img{
    width: 30px;
    height: 30px;
}
